@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
}

:root {
  --tamanho-header: 80px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 65px;
}

.container {
  display: flex;
  width: 80%;
  margin: auto;
}

.header {
  height: var(--tamanho-header);
  border-bottom: 2px solid white;
}

.header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header a {
  text-decoration: none;
  color: white;
}

.agora {
  font-weight: 800;
  text-decoration: underline;
}

.navbar {
  width: 300px;
  font-size: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: white;

  padding: 0px;
  gap: 15px;
}

.titulo {
  color: white;
  width: fit-content;
  font-weight: 800;
}

.header h1 {
  margin: 0;
}

/* Carrosel */

.carrosel {
  /* Utilizei o overflow para que imagens muito grandes se ajustassem para caber no carrosel */
  display: flex;
  overflow: hidden;
  width: 100%;
  

  border-bottom: 2px solid white;
}

.carrosel-slide {

  flex: 0 0 auto;;
  width: 100%;
  transition: transform 1s ease;
  position: relative;
  display: flex;

}

.carrosel img {
margin: auto;
margin-right: 3.5vw;
max-width: 45%;
height: auto;

}

.slide-text {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  z-index: -1 ;
  max-width: 100%;
  height: auto;
}

.slide-text h2, .slide-text{
  margin: 0;

}

/* FIM Carrosel */

/* Sobre Mim */

/* Fim Sobre Mim */

/* Rap com Desigualdade */

.container-rap-desigualdade{

  margin: auto;
  margin-top: 5vh;
  margin-bottom: 5vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 55vh;
  height: 25vw;

  color: #f9f9f9;

  font-size: large;
  font-weight: 350;

  border-bottom: 2px solid black;

}


/* Fim container rap desigualdade */

/* Container onde podem ver */

.rapers {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;

  border-bottom: 2px solid black;
}
.rapers h1{
  margin-left: 55vh;
}

.rapers.container-rap {
  justify-content: center;
}

.box-rap img {
  width: 30vh;
  height: 20vh;
  border-radius: 5px;
}

.rapers .container-rap .boxes-rap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px 0;
}

.rapers p {
  text-align: center;
  width: 30vh;
}

.box-rap {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 20px;
  width: 100vh;
}

/* Fim Container onde podem ver */

/* MISSÃO VISÃO VALORES */

.social {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  
}

.social-titulos{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-between;
  justify-content: space-evenly;

}
.social-titulos h1{
  text-align: center;

}


.social .container {
  justify-content: center;

}

.box img {
  width: 280px;
  height: 230px;
}

.social .container .boxes {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px 0;

  flex-direction: row;
  align-items: center;
}

.social p {
  text-align: center;
  width: 55vh;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 1px;
  margin: 10px;
  width: 100vh;
}

/* Chart.Js */
.indices {
  display: flex;
  margin: auto;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;

  width: 100%;
  height: 500px;

  border-bottom: 2px solid black;
}

.indice-texto{
  margin: 0;
  gap: 0;
  display: flex;
  flex-direction: column;
  padding: 60px;
 

}

.indice-texto span{

  font-size: large;

}


.indice-grafico{

  display: flex;
  width: 50%;
  height: 45vw;

}

/* FOOTER */

.footer {
  margin: 0;
  padding: 0;
  background-color: black;
  height: 150px;
  color: #fff;
  display: flex;
  font-size: 15px;
}

.footer .container {
  justify-content: center;
  text-align: center;
  margin-right: 18vh;
}

.footer .container .version {
  font-size: 12px;

}

.container-navegacao{
  margin-left: 10vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  font-size: 17px;

}

.container-navegacao a{
  text-decoration: none;
  color: white;

}



/* FORMULARIO */

.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #e6005a 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border: 2px solid #323232;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #e6005a;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* SIMULADOR */

.simulador {
  color: white;
}

.simulador .container {
  flex-direction: column;
  overflow: scroll; 
  height: var(--tamanho-simulador);
}

/* ALERTA */

#alerta {
  position: absolute;
  right: 0;
  bottom: 0;
}

.mensagem-alarme {
  background-color: white;
  border-radius: 5px;
  width: 300px;
  height: 80px;
  margin: 10px;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mensagem-alarme h3 {
  font-size: 14px;
  margin: 0;
}

.mensagem-alarme .informacao {
  width: 66%;
}

.alarme-sino {
  width: 48px;
  height: 48px;
  animation-name: bell;
  animation-duration: 4s;
  background-image: url('https://cdn-icons-png.flaticon.com/512/1157/1157000.png');
  background-size: cover;
  animation-iteration-count: infinite;
}

@keyframes bell {
  0%   {transform: rotate(25deg)}
  25%  {transform: rotate(-25deg)}
  50%  {transform: rotate(25deg)}
  75%  {transform: rotate(-25deg)}
  100% {transform: rotate(25deg)}
}